﻿<div id="menu-view" ng-controller="menuCtrl as vm">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ng-class="vm.getClass('/etransationsform')"><a href="#/eTransactionsForm">Formumlaire ETransactions</a></li>
        <li role="presentation" ng-class="vm.getClass('/gae')"><a href="#/gae">G.A.E.</a></li>
    </ul>
</div>