﻿<div id="eTransactions-view">
    <h3>Formularie E-Transactions</h3>
    <br />
    <br />
    <div>
        <form ng-submit="vm.openConfirmPaymentModal()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Montant (en centimes)" ng-model="vm.amount" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Id de commande" ng-model="vm.cmdId" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Id de l'abonne" ng-model="vm.abonneId" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-money"></i> Proc&egrave;der au payement
            </button>
        </form>
    </div>

    <script type="text/ng-template" id="confirmPaymentModal.html">
        <div class="modal-header">
            <h4 class="modal-title">
                <i class="fa fa-check"></i>
                Confirmer le payement
            </h4>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{vm.paymentFormParams.url}}">
                <input class="form-control" type="hidden" name="PBX_SITE" value="{{vm.paymentFormParams.site}}">
                <input class="form-control" type="hidden" name="PBX_RANG" value="{{vm.paymentFormParams.rang}}">
                <input class="form-control" type="hidden" name="PBX_IDENTIFIANT" value="{{vm.paymentFormParams.identifiant}}">
                <input class="form-control" type="hidden" name="PBX_TOTAL" value="{{vm.paymentFormParams.total}}">
                <input class="form-control" type="hidden" name="PBX_DEVISE" value="{{vm.paymentFormParams.devise}}">
                <input class="form-control" type="hidden" name="PBX_CMD" value="{{vm.paymentFormParams.cmd}}">
                <input class="form-control" type="hidden" name="PBX_REFABONNE" value="{{vm.paymentFormParams.abonne}}">
                <input class="form-control" type="hidden" name="PBX_PORTEUR" value="{{vm.paymentFormParams.porteur}}">
                <input class="form-control" type="hidden" name="PBX_RETOUR" value="{{vm.paymentFormParams.retour}}">
                <input class="form-control" type="hidden" name="PBX_HASH" value="{{vm.paymentFormParams.hash}}">
                <input class="form-control" type="hidden" name="PBX_TIME" value="{{vm.paymentFormParams.time}}">
                <input class="form-control" type="hidden" name="PBX_HMAC" value="{{vm.paymentFormParams.hmacHash}}">
                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-check"></i> Confirmer
                </button>
            </form>
            <button type="submit" class="btn btn-block btn-danger" ng-click="vm.cancel()">
                <i class="fa fa-times"></i> Annuler
            </button>
        </div>
    </script>
</div>